body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: 'calibri';
    overflow: hidden;
    background: linear-gradient(#0007, #0000), #123;
    background-color: #df6c7f;
    background-image: url('https://i.pinimg.com/736x/5a/05/14/5a051459377285ecf80231a9ac9118a1.jpg');
    background-size: cover;
    background-position: center;
    align-items: center; 
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #ffebee;
    padding: 35px;
    border-radius: 20px;
    border: 3px solid #ff6b81;
    box-shadow: 0 8px 20px rgba(255, 107, 129, 0.3);
    max-width: 800px;
    width: 90%;
    margin-bottom: 10px;
}

.image-container {
  position: relative;
}

.image-name {
  position: absolute;
  top: 36%;
  left: 10%;
  width: 35%;
  background-color:;
  color: #faf4f5;
  text-align: center;
  padding: 5px;
    color: #Black;
    font-size: 25px; 
    font-family: 'Borel', serif; 
    text-shadow: 2px 2px 9px #ff6b81;
}

h2 {
    text-align: center;
    color: #e94d58;
    margin: 15px 0;
    font-size: 60px; 
    font-family: 'Borel', serif;
    text-shadow: 2px 2px 9px #ff6b81;
}
.btn-group {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

button {
    position: absolute;
    width: 150px;
    height: inherit;
    color: white;
    font-size: 1.2em;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px gray;
    border: 2px solid #e94d58;
    font-size: 1.2em;
}

button:nth-child(1) {
    margin-left: -200px;
    background: #e94d58;
}

button:nth-child(2) {
    margin-right: -200px;
    background: white;
    color: #e94d58;
}

.div1 {  
  font-family:'borel';
  font-size: 20px ;
  text-align: center;
  color: #ff6b81;
  margin-bottom: 0px;
  text-shadow: 2px 2px 4px rgba(255, 107, 129, 0.2);
}

 .blockHead:after {
    color: #df6c7f;
    border-left: 40px solid;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    display: inline-block;
    content: '';
    position: relative;
    top:-38%;
    right: -30px;
  }

.blockHead {
    background-color: #df6c7f;
    width: 120px;
    height: 45px;
    border-radius:20px;
    display: inline-block;
     position: absolute;
     top: 60px;
     left: -3%;
     width: 35%;
     color: #faf4f5;
     text-align: center;
    padding: 5px;
    font-size: 20px; 
    font-family: 'Borel', serif; 
    text-shadow: 2px 2px 9px #ff6b81;
    text-align: center;
    display: flex;
    justify-content: left;
    /* align horizontal */
    align-items: left;
    /* align vertical */
  }

  .blocktext {
    color: white;
    font-weight: bold;
    text-align: center;
    padding-left: 25px;
    font-family: Arial;
  }